In [1]:
import pandas as pd

CSV_PATH = '/Users/nicovsjj/Downloads/Toku_cuotas_20230130.csv'

df = pd.read_csv(CSV_PATH, sep='|')

df

,Operacion,Rut,RutDv,Nombre,Mail,Telefono,FechaVcmto,MontoCuota,NCuota,TipoCliente,NumeroCredito,OrigenCredito
0,007CON402078532,690266,6902669,ORELLANA SARMIENTO JUAN OSVALDO,paola.herrera@bancocredichile.cl,NaN,31-03-2022,23897,27,VIGENTE,7CON402078532,PILAR
1,01.0207029-1,722290,7222904,CEJAS PAEZ ANTONIA DEL PILAR,NaN,NaN,30-06-2012,48876,6,CASTIGO,102070291,MENUANDES
2,01.0207029-1,722290,7222904,CEJAS PAEZ ANTONIA DEL PILAR,NaN,NaN,31-07-2012,48848,7,CASTIGO,102070291,MENUANDES
3,01.0207029-1,722290,7222904,CEJAS PAEZ ANTONIA DEL PILAR,NaN,NaN,31-08-2012,48820,8,CASTIGO,102070291,MENUANDES
4,01.0207029-1,722290,7222904,CEJAS PAEZ ANTONIA DEL PILAR,NaN,NaN,30-09-2012,48792,9,CASTIGO,102070291,MENUANDES
...,...,...,...,...,...,...,...,...,...,...,...,...
7277413,09.4685742-4,48154861,481548616,VARGAS LOAIZA GLADYS MARIS,NaN,NaN,31-03-2013,14784,3,CASTIGO,946857424,MENUANDES
7277414,09.4794771-0,48154861,481548616,VARGAS LOAIZA GLADYS MARIS,NaN,NaN,31-03-2013,17071,2,CASTIGO,947947710,MENUANDES
7277415,09.4794771-0,48154861,481548616,VARGAS LOAIZA GLADYS MARIS,NaN,NaN,30-04-2013,17073,3,CASTIGO,947947710,MENUANDES
7277416,40.0014950-6,95767716,957677169,YANEZ ZENTENO ROMULO SEGUNDO,NaN,NaN,30-04-2006,66495,14,CASTIGO,4000149506,MENUANDES
7277417,40.0014950-6,95767716,957677169,YANEZ ZENTENO ROMULO SEGUNDO,NaN,NaN,31-05-2006,66498,15,CASTIGO,4000149506,MENUANDES

In [3]:
df_prod_ids = df.drop_duplicates(subset=['Operacion'], keep='first').reset_index()[['Operacion', 'RutDv']]
df_prod_ids['TipoPago'] = 'Cuotas'
df_prod_ids.to_csv('prod_ids.csv', sep = ';', index=False)
df_prod_ids

              Operacion      RutDv TipoPago
0       007CON402078532    6902669   Cuotas
1          01.0207029-1    7222904   Cuotas
2       187CON401478112    769508K   Cuotas
3       060CON403228097   10139562   Cuotas
4          22.0047296-1   13104034   Cuotas
...                 ...        ...      ...
687626     09.4238646-K  481495091   Cuotas
687627     09.5038587-1  48150788K   Cuotas
687628     09.4685742-4  481548616   Cuotas
687629     09.4794771-0  481548616   Cuotas
687630     40.0014950-6  957677169   Cuotas

[687631 rows x 3 columns]